In [4]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('finish_data.csv')

In [7]:
df.dtypes

lon                 float64
lat                 float64
reg_date             object
last_date_cutted     object
square              float64
dtype: object

In [8]:
df = df.astype({"lon": 'float32',
           "lat": 'float32',
           "square": 'float32',
          })
df['reg_date'] = pd.to_datetime(df['reg_date'], errors = 'coerce', dayfirst = True)
df['last_date_cutted'] = pd.to_datetime(df['last_date_cutted'], errors = 'coerce', dayfirst = True)

In [9]:
df.head()

         lon        lat   reg_date last_date_cutted  square
0  77.439651  61.609344 2020-03-11       2019-05-25  0.0257
1  77.430962  61.610371 2020-03-11       2019-06-26  0.0695
2  77.375259  61.542648 2020-03-11       2019-10-01  0.0097
3  77.461708  61.625931 2021-03-02       2020-03-24  0.0349
4  77.431000  61.622684 2021-03-02       2020-11-08  0.0199